



body, header, section, footer {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;

}



header{
    height: 150px;
    background-color: rgb(10, 5, 88);

}

#logo{
    
    float: left;
    background-size:cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding: 0px;
    margin: 30px;
   
}
#logo img{
    width: 200px;
    background-color: rgb(34, 209, 209);
    border-radius: 10px;
    justify-content: center;
    padding: 5px  5px 0 15px ;
    

    
}




nav {
    float: right;
      
  }


  .main-links li a {
    display: flex;
    color:rgb(34, 209, 209);
    padding: 20px;
    background-color: rgb(10, 5, 88);
    margin: 5px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 15px;
    font-size: 20px;
    margin-top: 35px;
    
    
}




/* Estilos para el menú principal */
.main-links {
    display: flex;
    list-style: none;
}

.main-links li {
    margin-right: 20px;
    
}

/* Estilos para los elementos desplegables */
.dropdown-li {
    position: relative;
   
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    padding: 10px;
    list-style: none;
    background-color: aqua;
    z-index: 1;
   
}

.dropdown-li:hover .dropdown-menu {
    display: block;
    
}

.estandar {
  
    height: 600px;
    background-color: rgb(137, 133, 172);
    display: flex;
    justify-content: flex-start;
    
}

.caja1 {
    height: 550px;
    width: 200px;
    background-color: bisque;
    float: left;
    margin: 20px;
    padding: 30px;
    box-sizing: border-box;
    background-size: cover;

    border-radius: 30px;
}

section{
    display: flex;
    width: 1200px;
    height: 900px;
    
}

section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
    
}

section img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
    


}